.header {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--black-400);
    margin: 5px 0;
}

.header img {
    width: 60px;
    height: 100%;
}

.wrapper-nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav {
    color: var(--white-400);
    height: 100%;
    flex-direction: column;
    align-self: center;
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    padding: 0 1.25rem;
    font-weight: 500;
}

.nav:hover {
    background-color: var(--blue-400);
}

.container {
    display: inline-block;
    cursor: pointer;
    border: none;
    background-color: none;
    background-color: var(--black-400);
}

.nav-top,
.nav-center,
.nav-bottom {
    width: 25px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--white-400);
    margin: 4px 0;
    transition: 0.4s;
}

.change .nav-top {
    transform: translate(0, 8px) rotate(-45deg);
}

.change .nav-center {
    opacity: 0;
}

.change .nav-bottom {
    transform: translate(0, -8px) rotate(45deg);
}
