.footer {
    width: 100%;
    flex-direction: column;
    height: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-items: center;
    background-color: var(--black-400);
    color: var(--white-400);
    transition: 0.5s ease-in;
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
}

.footer-details {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-details a {
    padding-left: 10px;
    color: var(--white-400);
}

.footer-details a:hover {
    color: var(--blue-400);
}

@media (max-width: 340px) {
    .footer-details {
        flex-direction: column;
    }
}
