.wrapper-about-us-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 60px 0;
    overflow: hidden;
    padding: 15px 0;
}

.box {
    padding: 0 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.4s;
    min-height: 280px;
    max-width: 50%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 9px;
    background-color: var(--white-400);
    margin: 0 10px;
}

.box:hover {
    background: var(--blue-400);
    padding-bottom: 25px;
}

.box strong {
    display: block;
    font-size: 28px;
    font-weight: 700;
    color: var(--black-200);
    transition: all ease-in-out 0.4s;
}
.box:hover strong {
    color: var(--white-400);
}

.box span {
    color: var(--grey-400);
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
    transition: all ease-in-out 0.4s;
}
.box:hover span {
    color: var(--white-400);
}

@media (max-width: 1024px) {
    .wrapper-about-us-section {
        flex-direction: column;
    }
    .box {
        max-width: none;
        margin: 10px 10px;
    }
}

@media (max-width: 550px) {
    .box strong {
        font-size: 25px;
    }
    .box span {
        font-size: 14px;
    }
}

@media (max-width: 375px) {
    .box strong {
        margin-top: 10px;
        font-size: 20px;
    }
    .box span {
        margin-bottom: 10px;
    }
}

@media (max-width: 300px) {
    .box {
        min-width: none;
        margin: 10px 0;
    }

    .box strong {
        font-size: 16px;
    }
}
